@use "../../variables.scss" as v;

.gallery-container {
  background-color: v.$background-dark-color;
  min-height: 100vh;
  color: v.$main-white-color;
  padding: 128px 4vw 50px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.post-info,
.text-date-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-info {
  flex-direction: row;
  justify-content: space-between;
}

.post {
  padding: 6%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);

  &:hover .interaction-post-container {
    opacity: 1;
  }
}

.post-image-container {
  display: flex;
  justify-content: center;

  img,
  video {
    max-height: 60vh;
  }
}

.post-text,
.post-date,
.post-button,
.page-button,
.more-description-button {
  font-family: v.$plusJakartaSans-regular;
}

.post-text {
  font-size: 1.1rem;
  word-break: break-word;
  white-space: pre-wrap;
}

.more-description-button {
  width: max-content;
  background: none;
  border: none;
  color: #bbb;
  margin: 0 auto;

  & + .date-intersection-container {
    margin: 0;
  }
}

.date-intersection-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-date,
.post-button,
.page-button {
  font-size: 0.8rem;
  color: #bbb;
}

.interaction-post-container {
  align-self: flex-end;
}

.post-button {
  box-sizing: content-box;
  border: none;
  border-top: 1px solid;
  width: 190px;
  height: 50px;
  background: #29273ff5;

  &:hover {
    background-color: rgb(54 52 77 / 96%);
  }

  &:first-child {
    border: none;
  }

  svg {
    position: relative;
    top: 5px;
    right: -4px;
  }
}

.interaction-post-container {
  opacity: 0;
  align-self: flex-end;
}

.icon-wrapper {
  position: relative;

  &:hover {
    .post-management-container {
      opacity: 1;
      pointer-events: auto;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.post-management-container {
  position: absolute;
  top: -100px;
  right: -30%;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.1s;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;

  .page-button {
    background-color: #29273ff5;
    border: 1px solid #ccc;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:disabled {
      background-color: rgba(68, 64, 117, 0.96);
      cursor: default;
      font-weight: bold;
      height: 37px;
      width: 37px;
    }

    &:hover:not(:disabled) {
      background-color: rgb(55 32 85);
    }
  }
}

@media (max-width: 768px) {
  .gallery-container {
    padding-top: 120px;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    padding-top: 17px;
  }
}

@media (max-width: 394px) {
  .post-text {
    font-size: 0.85rem;
  }

  .more-description-button {
    font-size: 0.8rem;
  }

  .post-date {
    font-size: 0.65rem;
  }

  .icon-wrapper {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  .post-management-container {
    top: -90px;
  }

  .post-button {
    width: 120px;
    height: 40px;

    &:first-child {
      padding-bottom: 0px;
    }
  }
}
