@use "../../variables.scss" as v;

.profile-container {
  background-color: v.$background-dark-color;
  color: v.$main-white-color;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 50px;
  overflow: hidden;
}

.profile-content {
  display: flex;
  padding-top: 128px;
  padding-inline: 4vw;
}

// profile-info
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  position: fixed;
}

// avatar
.avatar-container {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);

  &:hover .upload-button {
    opacity: 1;
  }
}

.avatar {
  width: 12vw;
  min-width: 170px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.fileInput {
  display: none;
}

.upload-button {
  width: 100%;
  height: 25%;
  background-color: rgba(85, 85, 85, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 50% 50%;
  transition: opacity 0.15s ease;
  opacity: 0;
}

.change-avatar-image {
  width: 30px;
}

// user-data
.user-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #bbb;
  font-family: v.$plusJakartaSans-regular;
  align-items: center;
}

.username {
  font-family: v.$plusJakartaSans-bold;
  color: v.$main-white-color;
}

.status,
.email {
  margin-top: 5px;
}

.more-button,
.create-button {
  background-color: #29273f;
  color: #bbb;
  width: 170px;
  height: 50px;
  margin-top: 10px;

  &:hover {
    background-color: #262345;
  }
}
.create-button:disabled {
  cursor: not-allowed;
  background-color: #29273f;
}

.create-button {
  font-family: "PlusJakartaSans-regular", sans-serif;

  svg {
    position: relative;
    left: 6px;
    width: 15px;
    top: 4px;
  }
}

// posts
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 750px;
  margin-left: 43%;
}

// post
.post-info,
.text-date-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-info {
  flex-direction: row;
  justify-content: space-between;
}

.post,
.no-post {
  padding: 6%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

.post {
  position: relative;
}

.post:hover .interaction-post-container {
  opacity: 1;
}

.no-post {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: v.$plusJakartaSans-regular;
}

.post-image-container {
  display: flex;
  justify-content: center;

  img,
  video {
    max-height: 60vh;
  }
}

// description of post
.post-text,
.post-date,
.post-button,
.more-description-button {
  font-family: v.$plusJakartaSans-regular;
}

.post-text {
  font-size: 1.1rem;
  word-break: break-word;
  white-space: pre-wrap;
}

.more-description-button {
  width: max-content;
  background: none;
  border: none;
  color: #bbb;
  margin: 0 auto;

  & + .date-intersection-container {
    margin: 0;
  }
}

.date-intersection-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-date,
.post-button {
  font-size: 0.8rem;
  color: #bbb;
}

.post-button {
  border: none;
  border-top: 1px solid;
  width: 190px;
  height: 50px;
  background: #29273ff5;
  box-sizing: content-box;

  &:hover {
    background-color: rgb(54 52 77 / 96%);
  }

  &:first-child {
    border: none;
  }

  svg {
    position: relative;
    top: 4px;
    right: -3px;
  }
}

.interaction-post-container {
  opacity: 0;
  align-self: flex-end;
}

.icon-wrapper {
  position: relative;

  &:hover {
    .post-management-container {
      opacity: 1;
      pointer-events: auto;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.post-management-container {
  position: absolute;
  top: -100px;
  right: -30%;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.1s;
}

@media (max-width: 768px) {
  .profile-content {
    flex-direction: column;
    padding-top: 115px;
  }

  .profile-info {
    margin-bottom: 20px;
    margin-inline: auto;
    flex-direction: row;
    width: max-content;
    position: static;
  }

  .user-data-container {
    margin-left: 20px;
    margin-top: 0;
    align-items: flex-start;
  }

  .create-button {
    width: 100%;
  }

  .posts {
    margin: 30px 0;
  }

  .no-post {
    height: 52vh;
  }
}

@media (max-width: 500px) {
  .profile-content {
    padding-top: 30px;
  }

  .no-post {
    height: 61vh;
  }
}

@media (max-width: 394px) {
  .profile-content {
    padding-top: 20px;
  }

  .profile-info {
    margin-bottom: 0px;
  }

  .avatar {
    min-width: 100px;
  }

  .upload-button {
    height: 32%;
  }

  .change-avatar-image {
    width: 20px;
  }

  .user-data-container {
    font-size: 0.85rem;
    margin-left: 10px;
  }

  .status,
  .email {
    margin-top: 3px;
  }

  .more-button {
    background: none;
    height: auto;
    margin-top: 0;
    color: #6d6d6d;
    width: auto;

    &:hover {
      background: none;
    }
  }

  .create-button {
    height: 40px;
    font-size: 0.9rem;

    svg {
      width: 13px;
      top: 5px;
    }
  }

  .posts {
    margin-top: 15px;
  }

  .no-post {
    height: 77vh;
  }

  .post-text {
    font-size: 0.85rem;
  }

  .more-description-button {
    font-size: 0.8rem;
  }

  .post-date {
    font-size: 0.65rem;
  }

  .icon-wrapper {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  .post-management-container {
    top: -90px;
  }

  .post-button {
    width: 120px;
    height: 40px;
  }
}
