@use "../../variables.scss" as v;

.profile-container {
  background-color: v.$background-dark-color;
  color: v.$main-white-color;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 50px;
  overflow: hidden;
}

.profile-content {
  display: flex;
  padding-top: 128px;
  padding-inline: 4vw;
}

// profile-info
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  position: fixed;
}

// avatar
.avatar-container {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

.avatar {
  width: 12vw;
  min-width: 170px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

// user-data

.user-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #bbb;
  font-family: v.$plusJakartaSans-regular;
  align-items: center;
}

.username {
  font-family: v.$plusJakartaSans-bold;
  color: v.$main-white-color;
}

.status {
  margin-top: 5px;
}

.more-button {
  background-color: #29273f;
  color: #bbb;
  width: 100%;
  height: 50px;
  margin-top: 10px;

  &:hover {
    background-color: #262345;
  }
}

// posts
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 750px;
  margin-left: 43%;
}

// post
.post-info,
.text-date-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-info {
  flex-direction: row;
  justify-content: space-between;
}

.post,
.no-post {
  padding: 6%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
}

.post:hover .interaction-post-container {
  opacity: 1;
}

.no-post {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: v.$plusJakartaSans-regular;
}

.post-image-container {
  display: flex;
  justify-content: center;

  img {
    max-height: 60vh;
  }
}

// description of post
.post-text,
.post-date,
.post-button {
  font-family: v.$plusJakartaSans-regular;
}

.post-text {
  font-size: 1.1rem;
  word-break: break-word;
}

.post-date,
.post-button {
  font-size: 0.8rem;
  color: #bbb;
}

.post-button {
  border-top: 1px solid;
  box-sizing: content-box;
  width: 190px;
  height: 50px;
  background: #29273ff5;

  &:hover {
    background-color: rgb(54 52 77 / 96%);
  }

  &:first-child {
    border: none;
  }

  svg {
    position: relative;
    top: 4px;
    right: -3px;
  }
}

.interaction-post-container {
  opacity: 0;
  align-self: flex-end;
}

.icon-wrapper {
  position: relative;

  &:hover {
    .post-management-container {
      opacity: 1;
      pointer-events: auto;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.post-management-container {
  position: absolute;
  top: -50px;
  right: -30%;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.1s;
}

@media (max-width: 768px) {
  .profile-content {
    flex-direction: column;
    padding-top: 115px;
  }

  .profile-info {
    margin-bottom: 20px;
    margin-inline: auto;
    flex-direction: row;
    width: max-content;
    position: static;
  }

  .user-data-container {
    margin-left: 20px;
    margin-top: 0;
    align-items: flex-start;
  }

  .posts {
    margin: 30px 0;
  }

  .no-post {
    height: 52vh;
  }
}

@media (max-width: 500px) {
  .profile-content {
    padding-top: 30px;
  }

  .no-post {
    height: 61vh;
  }
}

@media (max-width: 394px) {
  .profile-content {
    padding-top: 20px;
  }

  .profile-info {
    margin-bottom: 0px;
  }

  .avatar {
    min-width: 100px;
  }

  .user-data-container {
    font-size: 0.85rem;
    margin-left: 10px;
  }

  .status {
    margin-top: 3px;
  }

  .more-button {
    background: none;
    height: auto;
    margin-top: 0;
    color: #6d6d6d;
    width: auto;

    &:hover {
      background: none;
    }
  }

  .posts {
    margin-top: 15px;
  }

  .no-post {
    height: 77vh;
  }

  .post-text {
    font-size: 0.85rem;
  }

  .post-date {
    font-size: 0.65rem;
  }

  .icon-wrapper {
    top: 5px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .post-management-container {
    top: -40px;
  }

  .post-button {
    width: 120px;
    height: 40px;

    &:first-child {
      padding-bottom: 0px;
    }
  }
}
