@use "../../../../variables.scss" as v;

.creating-post-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 20;
}

.creating-post {
  width: 50%;
  min-width: 260px;
  height: 75%;
  background-color: rgb(53 53 53 / 56%);
  padding: 5%;
}

.slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.imageUpload {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  font-family: v.$plusJakartaSans-bold;
}

.previewImage {
  max-height: 90%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.selectImageLabel {
  background-color: #2d2d2d;
  color: v.$main-white-color;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border: 2px dashed #aaa;
}

.hiddenFileInput {
  display: none;
}

.descriptionInput {
  width: 90%;
  height: 80%;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  background-color: #1e1e1e;
  color: v.$main-white-color;
  font-family: v.$plusJakartaSans-regular;

  &::placeholder {
    font-family: v.$plusJakartaSans-bold;
  }
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  background-color: #444;
  color: v.$main-white-color;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-family: v.$plusJakartaSans-regular;

  &:hover {
    background-color: #4e4e4e;
  }

  &:disabled {
    background-color: #757575;
    cursor: not-allowed;

    &:hover {
      background-color: #757575;
    }
  }
}

.slideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease;
}

.slideEnterFromLeft {
  animation: slideFromLeft 0.4s ease forwards;
}

.slideEnterFromRight {
  animation: slideFromRight 0.4s ease forwards;
}

.loading-post {
  font-family: v.$plusJakartaSans-regular;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(53, 53, 53, 0.808);
  color: v.$main-white-color;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 30;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-20px);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.previewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.changeImageLabel {
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  font-family: v.$plusJakartaSans-bold;
}

.changeImageLabel input {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .creating-post {
    padding: 10% 5%;
  }
}
